.body{
    background-color: #f5f5f5;
    font-family: sans-serif;
}


.menuItem{
    background-color: #808080;
    width: 300px;
    height: 60px;
    display: flex;
}

.menuItem:hover{
    background-color: #5e5e5e;
}


.menuItemImg{
    width: 60px;
    height: 60px;
}

.imageContainer{
    float: left;
    vertical-align: middle;
}


.menuItemText{
    font-size: 20px;
    color: white;
    margin-left: 20px;
}


.textContainer{

    padding-top: 17px;
}

.menuItem::after{
    content:"";
    clear: both;
    display: block;

}
