@page
@model Task5.Pages.AddFilmModel
@{
}

<form method="post" class="form-container">
	<div>
		<label>Name</label>
		<input type="text" name="Name"/>
	</div>
	<div>
		<label>Image url</label>
		<input type="text" name="ImageUrl"/>
	</div>
	<div>
		<label>Producer</label>
		<input type="text" name="Producer"/>
	</div>
	<div>
		<label>Style</label>
		<input type="text" name="Style"/>
	</div>
	<div>
		<label>Description</label>
		<input type="text" name="Description"/>
	</div>
	<div>
		<label>Publishing Year</label>
		<input type="number" name="PublishingYear"/>
	</div>
	<input type="submit" value="Add"/>
</form>
