table {
	border-collapse: collapse;
}

td {
	padding: 15px;
	border: 1px solid black;
	text-align: center;
}

body {
	font-size: 30px;
	background-color: #fbf2e9;
}

thead > tr {
	font-weight: bold;
}
