@page
@model Task3.Pages.AboutModel
@{
}


<div>
	<h1 class="text-center">Rozetka2</h1>
	<h3 class="text-center">Total products: @Model.Context.Products.ToList().Count</h3>
	<h3 class="text-center">Contact us: 8800553535 or <a href="/ContactUs">here</a></h3>
</div>
